<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
</head>
<body onload="Initialize()">
<div>
  <div class='center'>
    <div class='title'>Choose prediction you want to run.</div>
    <div class='radio-group' id='modelChoice'>
        <input type="radio" id="airplaneOptionButton" name="modelType" value="airplanes">
        <label for="airplaneOptionButton" id="airplaneOptionButtonText"></label>
        <input type="radio" id="movieGenreOptionButton" name="modelType" value="movieGenre">
        <label for="movieGenreOptionButton" id="movieGenreOptionButtonText"></label>
    </div>

    <div class='content'>
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               onchange='showPicked(this)'>
      </div>
      <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
      <div class='upload-label'>
        <label id='upload-label'>No file chosen</label>
      </div>
      <div>
        <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
      </div>
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
      </div>
      <div class='result-label'>
        <label id='result-label'></label>
      </div>
    </div>
  </div>
</div>
</body>
</html>
